@using Microsoft.AspNetCore.Components
@using ReactiveUI.Blazor

@inherits ReactiveInjectableComponentBase<SecondPageViewModel>

<p>@IsActive</p>
<p>@RandomNumber</p>
<button @onclick="@(() => @ViewModel.com.Execute())">Click!</button>
<button @onclick="@(() => @ViewModel.diceRoleCommand.Execute() )">Role a dice now!</button>
<AnimalListView @bind-AnimalList="@AnimalList"
                @bind-SelectedAnimal="@SelectedAnimal"/>
<button @onclick="@(() => @ViewModel.AddDogCommand.Execute())">Add a Dog!</button>
<button @onclick="@(() => @ViewModel.AddCatCommand.Execute())">Add a Cat!</button>
<p>@ViewModel.SelectedAnimalName</p>